#de{
text-align: center;    
}
#op{
   text-align:center;
    height: 400px;
       
}
#pr{
text-align:left;  
}
#qp{
height: 400px;
text-align: center;   
}
#jk{
    height: 400px;
}
#wre{
    text-align: left;
}
#nb{
text-align: center;    
}
#zc{
    text-align: center;
}